@import "tailwindcss";

* {
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 62.5%;
    font-family: "Geist", sans-serif;
}

body {
    font-size: 1.6rem;
}
